<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name:<%=@name%></h1>

   Team Name: <%= @name %>
   <p>Coach: <%=@coach%></p>
   <p>Point Guard: <%=@Point_Guard %></p>
   Power Forward: <%= @Power_forward %>
   Shooting Guard: <%=@Shooting_guard %>
   Small Forward: <%=@small_forward %>
   Center: <%=@center%>

 </body>
</html>
